<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694330847385-e0obj8e4qu82uc703ke2g5rt0rj565rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694330847385-e0obj8e4qu82uc703ke2g5rt0rj565rq</string>
	<key>API_KEY</key>
	<string>AIzaSyCRFSpc1VIRNqWlZaiJ9Q-Kqlgsk2VYirk</string>
	<key>GCM_SENDER_ID</key>
	<string>694330847385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theMetabolixApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>demoo-f57e5</string>
	<key>STORAGE_BUCKET</key>
	<string>demoo-f57e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694330847385:ios:939bcff04dab1c46d98808</string>
</dict>
</plist>